html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #293c4b;
}

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

/* Header Styles */

header {
    min-height: 3em;
    flex: 0 1 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    background: #33383D;
    color: #FDFDFD;
}

header .title {
    flex: 0 2 auto;
    align-self: center;
    font-size: 1.1em;
}

header nav {
    margin-left: 24px;
    flex: 2 0 auto;
}

header .tools {
    flex: 0 1 auto;
    align-self: center;

    border-left: 1px solid #000000;
    padding: 0 12px;
    color: #9BAAB8;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header button.icon {
   border: none;
   background: none;
   color: #98A7B8;
   font-size: 1.5em;
}

button.toggle-switch {
    color: #98A7B8;
}

/* Nav Styles */
header nav a,
header nav a:link
header nav a:visited
header nav a:hover
header nav a:active
{
  color: #9BAAB8;
  text-decoration: none;
}

header nav .nav-menu {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

header nav .nav-menu li {
    box-sizing: border-box;
    height: 100%;
    margin: 0 0 0 24px;
    border-top: 5px solid transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav .nav-menu li.active {
    border-top: 5px solid #FF4F1F;
}
header nav .nav-menu li.active a {
    color: #FDFDFD;
}

header nav .programmatic-nav {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header nav .programmatic-nav button {
    margin: 0 24px;
}

/* Toggle Switch Styles */

button.toggle-switch {
    border: 0;
    background: none;
}

.toggle-switch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
}

.toggle-switch .track {
    flex: 0 0 40px;
    height: 24px;
    /* Set to rel pos for abs switch pos */
    position: relative;

    margin-right: .5em;
    border-radius: 24px;
    
    background-color: #C3CAD4;
    transition: .4s;
}

.toggle-switch .track:before {
    position: absolute;
    content: "";
    top: 4px;
    width: 16px;
    height: 16px;
    left: 4px;

    border-radius: 50%;

    background-color: white;
    transition: .4s;
}

/* Toggle Button States */
.toggle-switch[aria-checked=true] .track {
    background-color: #2A60C8;
}

.toggle-switch[aria-checked=true] .track:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.toggle-switch:hover .track {
    box-shadow: 0 0 2px 2px #75A8FF;
}

button.toggle-switch:focus {
    outline: 0;
}

.toggle-switch:focus .track {
    box-shadow: 0 0 3px 3px rgba(117, 168, 255, .5);
}

/* Toast styles */

.toast-container {
    position: fixed;
    z-index: 999999999;
    max-width: 300px;
    min-width: 300px;
}

.toast {
    position: relative;
    right: 0;
    padding: 20px;
    
    font-family: "helvetica neue";
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 1;
    
    background: #393E45;
    border-bottom: 1px solid #444A52;
    color: #9BAABA;

    transition: .3s all ease;
}

.toast .title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.toast .title::before {
    margin-right: 5px;
}

.toast.toast-exit {
    transition: .4s all ease;
    transform: translate3d(0,0,0);
    right: -300px;
    opacity: 0;
}

.toast-success .title::before {
    content: '\2713';
    color: #A1D318;
}

.toast-info .title::before {
    content: '\0069';
    color: #75A8FF;
}

.toast-error .title::before {
    content: '\2717';
    color: #FF7070;
}

/* Content Styles */

frame-router {
    flex: 1 1 auto;
    display: block;
}

component-frame {
    height: 100%;
    width: 100%;
}